manifest {
	author = "Sergey Abramov & Alexandr Boytsov"
	mainScript = "main.nf"
	defaultBranch = "master"
	name = "nf-annotations"
	description = "Pipeline for motif and GWAS analysis"
	version = "0.1"
	nextflowVersion = "22.04.0"
}

// Run with a stricter shell, so errors are caught earlier
process.shell = ['/bin/bash', '-ueo','pipefail' ]
params {
	includeConfig './params.config'
}


profiles {
	
	//Pan-environment configuration; modify to computing enviroment specifications
	Altius {
		process {
			executor = "slurm"
			queue = "queue0,encode4,pool,bigmem"
			memory = { (10.GB * task.attempt * task.attempt) }
			cache = "lenient" // may need to switch to deep
			errorStrategy = { (task.exitStatus in 137..143) ? 'retry' : 'ignore' }
			maxRetries = 4
			withLabel: med_mem {
				memory = { 50.GB * task.attempt }
			}
			withLabel: high_mem {
				memory = { 100.GB * task.attempt }
			}
            withLabel: ldsc {
                queue = "queue0,encode4,pool,bigmem"
            }
		}
        
        conda.enabled = true
		
		executor {
			$slurm {
				queueSize = 400
			}
		}

		// Logging
		//trace.enabled = true
		//trace.file = "pipeline_trace.txt"
		//timeline.enabled = true
		//timeline.file = "pipeline_timeline.html"
		//report.enabled = true
		//report.file = "pipeline_report.html"
		}
}
