manifest {
	author = "Sergey Abramov & Aleksandr Boytsov"
	mainScript = "main.nf"
	defaultBranch = "master"
	name = "nf-annotation"
	description = "Pipeline for annotation of CAVs with phenotypes and motifs"
	version = "0.1"
	nextflowVersion = "22.04.0"
}

// Run with a stricter shell, so errors are caught earlier
process.shell = ['/bin/bash', '-ueo','pipefail' ]
params {
	includeConfig './params.config'
}


profiles {
	
	//Pan-environment configuration; modify to computing enviroment specifications
	Altius {
		process {
			executor = "slurm"
			queue = "queue0,encode4,pool"
			memory = { 10.GB * task.attempt * task.attempt }
			cache = "lenient" // may need to switch to deep
			errorStrategy = 'retry'
			maxRetries = 4
			withLabel: med_mem {
				memory = { 50.GB * task.attempt }
			}
			withLabel: high_mem {
				memory = { 80.GB * task.attempt }
			}
		}
        conda.enabled = true
		
		executor {
			$slurm {
				queueSize = 400
			}
		}

		// Logging
		//trace.enabled = true
		//trace.file = "pipeline_trace.txt"
		//timeline.enabled = true
		//timeline.file = "pipeline_timeline.html"
		//report.enabled = true
		//report.file = "pipeline_report.html"
		}
}
