manifest {
	author = "Sergey Abramov, Alexandr Boytsov & Anas Fathul"
	mainScript = "main.nf"
	defaultBranch = "master"
	name = "nf-annotations"
	description = "Pipeline for motif and GWAS analysis"
	version = "0.2"
	nextflowVersion = "24.10.4"
}

// Run with a stricter shell, so errors are caught earlier
process.shell = ['/bin/bash', '-ueo','pipefail' ]
params {
	includeConfig './params.config'
}


profiles {
    // Existing Altius profile
    Altius {
        process {
            executor = "slurm"
            queue = "queue0,encode4,pool,bigmem"
            memory = { (10.GB * task.attempt * task.attempt) }
            cache = "lenient" // may need to switch to deep
            errorStrategy = { (task.exitStatus in 137..143) ? 'retry' : 'ignore' }
            maxRetries = 4

            withLabel: med_mem {
                memory = { 20.GB * task.attempt }
            }
            with_label: higher_mem {
                memory = { 50.GB * task.attempt }
            }
            withLabel: high_mem {
                memory = { 100.GB * task.attempt }
            }
        }
        
        conda.enabled = true
        
        executor {
            $slurm {
                queueSize = 600
            }
        }
    }
    
    old_cluster {
        process {
            queue = "queue0,encode4,pool,bigmem"
            withLabel: ldsc {
                queue = "queue0,encode4,pool,bigmem"
            }
        }
    }

    new_cluster {
        process {
            queue = "hpcz-test,bigmem"
            withLabel: ldsc {
                queue = "hpcz-test,bigmem"
            }
        }
    }
}
