outdir = 'output'
conda = "/home/sabramov/miniconda3/envs/babachi"


// Motif analysis
alt_fasta_file = "/net/seq/data2/projects/sabramov/ENCODE4/wasp-realigning/output/alt_genome/iupac.genome.fa"
bg_file = "/net/seq/data/projects/motifs/hg19.K36.mappable_only.5-order.markov"
motifs_list = "/home/sabramov/projects/ENCODE4/motifs_list.txt"
motif_pval_tr = 0.0001
genome_fasta_file = "/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.fa"


// Phenotypes analysis
phenotypes_data = "/home/sabramov/phenotypes_data"
pval_file_dir = "/net/seq/data2/projects/sabramov/ENCODE4/cav-calling/babachi_1.5_common_final/all_aggregations/output/final.ag_files_binom.all"


// LDSC data, see https://github.com/bulik/ldsc for details
ldsc_scripts_path = "/home/sabramov/projects/ENCODE4/ldsc"
annotations_dir = "/home/sabramov/projects/ENCODE4/anova/categories"
phenotypes_meta = "/net/seq/data2/projects/sabramov/LDSC/UKBB.phenotypes.test.tsv"

ldsc_conda = "/home/sabramov/miniconda3/envs/ldsc"

// Intersection of SNPs from UKBB and HapMap3 (as recommended by LDSC manual)
tested_snps = "/net/seq/data2/projects/sabramov/LDSC/UKBB_hm3.snps.tsv"
// All paths below should have "." at the end
base_ann_path = '/net/seq/data2/projects/sabramov/LDSC/baseline_UKBB/output/baselineLD/l2/result/baselineLD.'
frqfiles = "/home/sabramov/LDSC/plink_files/1000G.EUR.hg38."
gtfiles = "/home/sabramov/LDSC/plink_files/1000G.EUR.hg38."
weights = "/home/sabramov/LDSC/weights/weights.hm3_noMHC."