// Common params
conda = "/home/sabramov/miniconda3/envs/cavs-calling"
genome_fasta_file = "/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.fa"

fdr_tr = 0.1

outdir = "$launchDir/output"

//////////////////////////////////////////////////////////////////////////////////////

// Moods params, see nf-babachi for the script to create these files
moods_scans_dir = "/net/seq/data2/projects/sabramov/ENCODE4/moods_scans.0104/" // Pre-made MOODs scans

// Motif enrichment for index
masterlist_file = "/net/seq/data2/projects/ENCODE4Plus/indexes/index_altius_22-11-28/raw_masterlist/masterlist_DHSs_2902Altius-Index_nonovl_any_chunkIDs.bed"
step = 200 // How many samples to include in one chunk
binary_matrix = "/net/seq/data2/projects/ENCODE4Plus/indexes/index_altius_22-11-28/raw_masterlist/masterlist_DHSs_2902Altius-Index_nonovl_any_binary.unlabeled.mtx.gz"
sample_names = "/net/seq/data2/projects/ENCODE4Plus/indexes/index_altius_22-11-28/files/listOfSamples.txt"

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////  LDSC pipeline  ////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Phenotypes to calculate LDSC regression on. Full meta is available here https://pan.ukbb.broadinstitute.org/downloads/index.html
phenotypes_meta = "/net/seq/data2/projects/GWAS/UKBB_2023/sabramov/UKBB_meta.filtered.h2_0.05.tsv" 

// SNP annotation files
annotations_dir = "/home/sabramov/projects/ENCODE4/anova/categories" // Directory with annotations. One BED file per annotaion.
min_snps = 10000
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////  Create baseline annotation  ////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
base_ann_path = '/home/sabramov/LDSC/baselineLD_v2.2/baselineLD.'

// HapMap3 SNPs (as recommended by LDSC manual)
tested_snps = "/net/seq/data2/projects/sabramov/LDSC/UKBB_hm3.snps.tsv" 

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////  Run LDSC on custom annotations  ////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Path to created baseline annotation (result of calcBaseline workflow)
baseline_ld = "/net/seq/data2/projects/sabramov/LDSC/baseline_UKBB/output/ldsc/l2/baseline."

// LDSC data, see https://github.com/bulik/ldsc for details
ldsc_scripts_path = "/home/sabramov/projects/ENCODE4/ldsc" // TODO put in docker
ldsc_conda = "/home/sabramov/miniconda3/envs/ldsc" // TODO put in docker

// If true, run cell-type specific LDSC. Faster, but no by-category prop h^2
by_cell_type = false

// All paths below should have "." at the end, see https://github.com/bulik/ldsc for file description
frqfiles = "/home/sabramov/LDSC/plink_files/1000G.EUR.hg38."
gtfiles = "/home/sabramov/LDSC/plink_files/1000G.EUR.hg38."
weights = "/home/sabramov/LDSC/weights/weights.hm3_noMHC."

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// Defunc, Sarus
// Motif enrichment of CAVs
flank_width = 20

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// Parameter for LDSC on dnase 3501
